.Weather {
  background: #96f7d2;
  color: #ffffff;
  border: 3px solid #f5b5fc;
  padding: 16px;
  border-radius: 4px;
  font-family: arial, sans-serif;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather h1 {
  color: #f5b5fc;
  font-weight: bolder;
  font-size: 24px;
  margin: 20px 0 0 0;
  line-height: 29px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather img {
  position: relative;
  top: -16px;
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.Weather .temp {
  color: #f5b5fc;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.Weather .unit {
  font-size: 16px;
  position: relative;
  top: -34px;
  line-height: 1;
  margin-left: 5px;
}
